
  @import url('https://fonts.googleapis.com/css2?family=Manrope&family=Quicksand:wght@300&display=swap');

/*variables*/

$bgcolor:#00E3c8;
$primaryColor: #B7F3EC;
$textColor: #218376;
$fontColor:#323232;


*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    width: 100%;
    padding: 5rem;
}

/*navBar*/
.navBar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 3.5rem;
    background-color: aliceblue;
    box-shadow: -3px 2px 4px rgba(0,0,0,0.6);

    
    
    &__items{
        display: flex;
        justify-content: space-between;
        gap: 1.5rem;
        list-style-type: none;

    }
    
    &__icons &--v{
        width: 24px;
        height: 24px;
    }
    &__items &--vert{
        color: $textColor;
        &:hover{
            opacity: 1;
        }
    }
     a{
        text-decoration: none;
        color: $fontColor;
        font-weight: 100;
        &:hover{
            color: $textColor;
            opacity: 0.5;
        }
    }


}

.parallax{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-attachment: fixed;
}
.parallax1{
    background-image: url(images2/download\ \(1\).png);

    
    h1{
        color: white;
        word-spacing: .5em;
        letter-spacing: .2em;
        font-family: 'Manrope', sans-serif;
        font-size: 3.5em;
        text-transform: uppercase;
        text-align: center;
        
    }
    p{
        color: white;
        word-spacing: .5em;
        text-align: center;
    }
    span{
        color: $bgcolor;
    }

}
.parallax2{
    background-image: url(images2/download\ \(2\).png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    &__boxes{
        border: black 8px solid;
        padding: 2rem 20rem;
        font-size: 1.5em;
        font-weight: bolder;
        &:hover{
            background-color: white;
        }
    }
    &__sky{
        background-color: $primaryColor;
        padding: 2rem 20.5rem;
    }
    &__bleu{
        background-color: $bgcolor;
    }
    &__fonce{
        background-color: $textColor;

    }
}
.content1{
    border: #323232 2px solid;
    background-color: $bgcolor;
    display: flex;
    justify-content: center;
    align-items: center;
    &__elem{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        p{
            max-width: 400px;
            letter-spacing: .3rem;
        }
        h1{
            text-transform: uppercase;
            letter-spacing: .1rem;
            font-family: 'Manrope', sans-serif;
            font-size: 2em;
        }
        button{
            background-color: black;
            color: white;
            padding: .5rem 1rem;
            &:hover{
                background-color: $bgcolor;
                color: black;
                border: 2px solid black;
            }
        }
    }
}
.content3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    overflow: hidden;
    
    
    img{
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
       
    }
   
    
     div{
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
         background-color: rgba(0,0,0,0.6);
         opacity: 0;
         &:hover{
            opacity: 1;
         }
        h1{
            text-transform: uppercase;
            font-weight: bold;
        }
        p{
            max-width: 300px;
        }
    }
    a{
        color: white;
        text-decoration: none;
        position: relative;
        overflow: hidden;
         transition: transform 2s;
        &:hover{
            transform: scale(1.02);
        } 
    }
}
.content4{
    background-color: $bgcolor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 3rem 2rem;
    &__title{
        border: black 8px solid;
        padding: 2rem 20rem;
        font-size: 1.5em;
        font-weight: bolder;
       /*  &:hover{
            background-color: white;
        } */
    }
    &__form{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    &__left{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    label{
        display: block;
    }
    input{
        width: 100%;
        height: 1.5rem;
        background-color: $bgcolor;
        border: black 1px solid;
        &:hover{
            border: 2px solid black;
        }
    }
    button{
        background-color: black;
        color: white;
        padding: .5rem 1rem;
        transition: all 1s;
        &:hover{
            background-color: $bgcolor;
            color: black;
            border: 2px solid black;
        }
    }
    &__input{
        display: flex;
        gap: 1.3rem;
    }
    textarea{
        background-color: $bgcolor;
        width: 100%;
        transition: all 1s;
        &:hover{
            border: 2px solid black;
        }
    }
}




     
      
